[Unit]
Description=cake of ICG. https://github.com/nynicg/cake
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/cake/cake
WorkingDirectory=/usr/local/cake
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target